body{
    padding: 0;
    margin: 0;
    width: 100%;
    height:100vh;
    background-image: url("../back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 500 !important;
    overflow: hidden !important;
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: relative;

}

input{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    color: rgb(13, 3, 27);
    border: none;
    outline: none;
    border-radius: 30px !important;
    padding-left: 20px;
    width: 400px;
    letter-spacing: 2;
    
}
.btn{
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}
h1{
    width: 95%;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 100px;
}
p{
    display: inline-block;
}

.yutti, .yutqazdi{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    animation: anime linear 2s 1;
}
// animatsiya chiqishi

@keyframes anime{
    0%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(1.2);
    }
   
    100%{
        transform: scale(1);
    }
}


.res{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;    
}
.www{
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}
.www2{
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px !important;
}
.img1{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
.img2{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.yutti{
    display: none;
}

.yutqazdi{
    display: none;
}

.yordam{
    width: 95%;
    text-align: center;
    font-size: 30px;
    color: #2c3e50;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and ( max-width: 550px) and (min-width: 200px) {
    h1{
        font-size: 39px;
    }
    .yordam{
        font-size: 25px;
        margin-top: 10px;
    }
    input{
        width: 80%;
        font-size: 17px;
    }
    .btn{
        width: 120px;
        font-size: 17px;
    }
    .img1{
        width: 27%;
        top: 185px;
    }
    .img2{
        width: 75%;
        top: 260px;
    }
    .www{
        width: 65px;
    }
    .www2{
        width: 50px !important;
    }
}